<section class="about--full" id="about">
  <div class="row">
    <div class="column small-12 medium-9 large-6">
      <h3>About</h3>
      <h5>Who are you and what is this?</h5>
      <p>A couple of paragraphs about who we are. The background of the project. No need to hide the fact that we are liberals! But we welcome people of all ideological backgrounds to come and learn about causes we think matter. Yeah.</p>
      <h5>Are you DEMOCRATS? IS THIS THE RESISTANCE?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam recusandae ipsam et, facere nostrum fugit! Perspiciatis voluptate rerum omnis in facere voluptatem blanditiis modi assumenda impedit quas porro, harum et!</p>
      <h5>Why is the emoji for women's health a PEACHBUTT?!?</h5>
      <p>
        <img class="emoji emoji--small" src="static/img/emoji__monkey.png" alt="He">
        <img class="emoji emoji--small" src="static/img/emoji__monkey.png" alt="He">
        <img class="emoji emoji--small" src="static/img/emoji__monkey.png" alt="He">
      </p>
      <h5>This site would be more helpful if it had X.</h5>
      <p>We're definitely working on more features. But we welcome your suggestions! If you're really interested, send us an email! We would love to hear from you.</p>
    </div>
  </div>
</section>