html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #607D8B; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #212121; }

blockquote,
cite {
  color: #607D8B; }

a {
  color: #03A9F4; }

blockquote {
  font-size: 28px;
  font-weight: 900;
  padding: 0;
  border-left: none; }

cite {
  font-size: 14px;
  font-weight: 400; }

.top-bar,
.top-bar ul {
  background-color: transparent; }

.top-bar h1 {
  font-size: 1rem;
  font-weight: 400; }
.top-bar .menu a {
  color: #607D8B; }

.hero--full {
  margin: 75px 0 75px; }
  .hero--full h2 {
    font-size: 36px; }
  @media (min-width: 40em) {
    .hero--full h2 {
      font-size: 48px; } }
  @media (min-width: 64em) {
    .hero--full {
      margin-top: 120px; }
      .hero--full h2 {
        font-size: 60px; } }

.carousel--full,
.grid--full {
  margin-bottom: 75px; }
  .carousel--full .carousel__element,
  .carousel--full .grid__element,
  .grid--full .carousel__element,
  .grid--full .grid__element {
    margin: 0 auto; }

.carousel__element:focus {
  outline: none; }

.more--full {
  margin: 0 0 120px; }

.about--full {
  margin: 0; }
  .about--full h5 {
    margin-top: 35px;
    color: #607D8B; }

.footer--full {
  margin: 120px 0 15px; }
  @media (min-width: 64em) {
    .footer--full {
      margin-top: 180px; } }
  .footer--full blockquote {
    margin-bottom: 75px; }

.settings--full {
  margin-bottom: 35px; }
  .settings--full .settings__header {
    margin: 15px 0 8px; }
  .settings--full .settings__option {
    display: inline-block; }
    .settings--full .settings__option input {
      display: none; }
      .settings--full .settings__option input:checked + label {
        background-color: rgba(117, 117, 117, 0.15); }
    .settings--full .settings__option label {
      line-height: 1;
      display: flex;
      flex-direction: row;
      width: 200px;
      height: 40px;
      margin: 0 8px 8px 0;
      padding: 8px;
      transition-duration: 200ms;
      border-radius: 4px;
      align-items: center; }
      .settings--full .settings__option label:hover, .settings--full .settings__option label:focus {
        background-color: rgba(117, 117, 117, 0.15); }
      .settings--full .settings__option label img {
        width: 16px;
        height: auto;
        margin: 0 8px 0 0; }
  .settings--full .settings__submit {
    margin: 35px 0 0; }

.results--full {
  margin-top: 100px; }
  .results--full .results__row {
    border-top: 1px solid #CACACA; }
    .results--full .results__row .info__loc {
      font-size: 13px; }
    .results--full .results__row:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #CACACA; }
  .results--full figure {
    text-align: center;
    font-size: 28px;
    margin: 1em 5px; }
    .results--full figure figcaption {
      font-size: 13px;
      line-height: 18px; }
  @media (min-width: 40em) {
    .results--full figure {
      font-size: 50px;
      margin: 1em 50px; } }

.button {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 35px;
  color: #FFFFFF;
  background-color: #03A9F4;
  box-shadow: 0 1.5px 5px 0 rgba(117, 117, 117, 0.5); }

.cause-card {
  position: relative;
  width: 95%;
  margin: 8px auto;
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(117, 117, 117, 0.75); }
  .cause-card .cause-card__title {
    font-size: 30px;
    line-height: 36px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
    color: #607D8B; }
  .cause-card .cause-card__icon {
    display: block;
    width: 100px;
    height: 205px;
    margin: 35px auto 0;
    padding-bottom: 105px; }
  @media (min-width: 40em) {
    .cause-card .cause-card__title {
      padding-top: 75px; }
    .cause-card .cause-card__icon {
      height: 190px;
      padding-bottom: 90px; } }

.cause-card:hover .cause-card__overlay {
  transition: all 150ms;
  opacity: 1; }

.cause-card__overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  transition: all 300ms;
  opacity: 0;
  color: #FFFFFF;
  background-color: #607D8B;
  align-items: center; }
  .cause-card__overlay .cause-card__overlay-content {
    display: flex;
    flex-direction: column; }
    .cause-card__overlay .cause-card__overlay-content .row {
      margin-right: -.9375rem;
      margin-left: -.9375rem; }
    .cause-card__overlay .cause-card__overlay-content .cause-card__subtitle {
      line-height: 1;
      margin: 15px 0 8px;
      color: #FFFFFF; }
    .cause-card__overlay .cause-card__overlay-content p {
      line-height: 1.25;
      margin-bottom: 0; }

.emoji {
  display: inline-block; }

.emoji--small {
  width: 20px; }

.emoji--responsive-hero {
  width: 40px;
  margin-right: 8px;
  padding-bottom: 20px; }
  @media (min-width: 40em) {
    .emoji--responsive-hero {
      width: 48px;
      margin-right: 11px;
      padding-bottom: 22px; } }
  @media (min-width: 64em) {
    .emoji--responsive-hero {
      width: 60px;
      margin-right: 15px;
      padding-bottom: 26px; } }

.reveal {
  padding: 35px; }

/*# sourceMappingURL=index.css.map */
