<div class="row">
    <div class="column small-12 medium-9 large-6">
        <p>No results found!</p>
        <p>
            <img class="emoji emoji--small" src="static/img/emoji__oops.png" alt="Oops!">
            <img class="emoji emoji--small" src="static/img/emoji__oops.png" alt="Oops!">
            <img class="emoji emoji--small" src="static/img/emoji__oops.png" alt="Oops!">
        </p>
        <p>Well duhhh - that's because the site isn't fully built yet. Come up with a good error message just in case.</p>
        <p>Also come up for something if a person just navigates to /search with no params - maybe just show the top 5 charities by default.</p>
    </div>
</div>
