{% extends "base.html" %}

{% block content %}

<section class="suggested--full">

</section>

<section class="settings--full">
    <div class="row">
        <div class="column small-12">
            <form action="">
                <h3 class="settings__header">Causes</h3>
                <fieldset class="cause">
                {% for cause in causes %}
                    <div class="settings__option">
                        <input
                            type="radio"
                            name="cause"
                            value="{{ cause.cause_id }}"
                            id="{{ cause.name|replace(' ', '-')|replace('\'', '')|lower }}-radio">
                        <label for="{{ cause.name|replace(' ', '-')|replace('\'', '')|lower }}-radio">
                            <img src="static/img/emoji__{{ cause.emoji }}.png">
                            {{ cause.name }}
                        </label>
                    </div>
                {% endfor %}
                </fieldset>
                <h3 class="settings__header">Scope</h3>
                <fieldset class="scope">
                    <div class="settings__option">
                        <input type="radio"
                            name="scope"
                            value="2"
                            id="national">
                        <label for="national">National</label>
                    </div>
                    <div class="settings__option">
                        <input type="radio"
                            name="scope"
                            value="1"
                            id="regional">
                        <label for="regional">Regional</label>
                    </div>
                </fieldset>
                <button class="button settings__submit" type="submit" id="update_button">Update Results</button>
            </form>
        </div>
    </div>
</section>

<section class="loading--full" id="loading">
    <div class="row">
        <div class="column small-12">
            <p>Searching for your results...</p>
            <!-- <video muted="" autoplay loop="" poster="" class="res-media-zoomable">
                <source src="http://i.imgur.com/CR6r35u.mp4" type="video/mp4">
            </video> -->
        </div>
    </div>
</section>

<section class="results--full" id="results">
    <div class="row">
        <div class="column small-12">
            <hr>
            {% if results %}
                {% for result in results %}
                    <div>
                        <h3>{{ result.Charity_Name }}</h3>
                        <p>{{ result.Tag_Line }}</p>
                        <p>{{ result.city }}, {{ result.state }}</p>
                        <p>Score: {{ result.OverallScore }}</p>
                        <a href="{{ result.URL }}">URL</a>
                    </div>
                {% endfor %}
            {% else %}
                {% include 'search/not-found.html' %}
            {% endif %}
            <hr>
        </div>
    </div>
</section>

{% endblock content %}

{% block footer %}
    {{ super() }}
    <script src="static/js/search.js"></script>
{% endblock %}
