{% extends "base.html" %}

{% block content %}

<section class="suggested--full">

</section>

<section class="settings--full">
    <div class="row">
        <div class="column small-12">
            <form action="">
                <h3 class="settings__header">Causes</h3>
                <fieldset class="term">
                {% for cause in causes %}
                    <div class="settings__option">
                        <input
                            type="radio"
                            name="term"
                            value="{{ cause.name|urlencode }}"
                            id="{{ cause.name|replace(' ', '-')|replace('\'', '')|lower }}-radio">
                        <label for="{{ cause.name|replace(' ', '-')|replace('\'', '')|lower }}-radio">
                            <img src="static/img/emoji__{{ cause.emoji }}.png">
                            {{ cause.name }}
                        </label>
                    </div>
                {% endfor %}
                </fieldset>
                <h3 class="settings__header">Scope</h3>
                <fieldset class="scope">
                    <div class="settings__option">
                        <input type="radio"
                            name="scope"
                            value="2"
                            id="national">
                        <label for="national">National</label>
                    </div>
                    <div class="settings__option">
                        <input type="radio"
                            name="scope"
                            value="1"
                            id="regional">
                        <label for="regional">Regional</label>
                    </div>
                </fieldset>
                <button class="button settings__submit" type="submit" id="update_button">Update Results</button>
            </form>
        </div>
    </div>
</section>

<section class="loading--full" id="loading">
    <div class="row">
        <div class="column small-12">
            <p>Searching for your results...</p>
            <video muted="" autoplay loop="" poster="" class="res-media-zoomable">
                <source src="http://i.imgur.com/CR6r35u.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<section class="results--full" id="results">
    <div class="row">
        <div class="column small-12">
            {% if results %}
                {% for result in results %}
                    <div class="row align-middle results__row">
                        <div class="shrink column">
                            <figure>{{ result.OverallScore|int }}
                                <figcaption>CharityNavigator<br>Score</figcaption>
                            </figure>
                        </div>
                        <div class="column">
                            <span class="info__loc">{{ result.city }}, {{ result.state }}</span>
                            <h3 class="info__name">{{ result.Charity_Name }}</h3>
                            <p class="info__desc">{{ result.Tag_Line }}</p>
                            <a class="info__link" href="{{ result.URL }}" target="_blank">Learn More</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% include 'search/not-found.html' %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}

{% block footer %}
    {{ super() }}
    <script src="static/js/search.js"></script>
{% endblock %}
