.emoji {
  display: inline-block;
}

.emoji--small {
  width: 20px;
}

.emoji--responsive-hero {
  width: 40px;
  margin-right: 8px;
  padding-bottom: 20px;
  @media (min-width: $medium) {
    width: 48px;
    margin-right: 11px;
    padding-bottom: 22px;
  }
  @media (min-width: $large) {
    width: 60px;
    margin-right: 15px;
    padding-bottom: 26px;
  }
}
